/**
    * @name SignalRGB Theme
    * @version 2.2.19.0
    * @description A theme designed to match the UI of SignalRGB.
    * @author Fanman03#1337
    *
    * @website https://github.com/Fanman03/discord-signalrgb-theme
    * @source https://github.com/Fanman03/discord-signalrgb-theme
**/
@import url("https://raw.githubusercontent.com/Fanman03/discord-signalrgb-theme/main/src/main.css");
@import url("https://nyri4.github.io/Discolored/main.css");

:root {
  /* --------- BASE THEME --------- */
  --blurple-replace: #00a9ce;
  --blurple-replace-light: #0fa0bd77;
  --blurple-replace-xlight: #def7fc;
  --background-primary: #0f1620;
  --background-secondary: #060b11;
  --background-secondary-alt: #212d3a;
  --background-tertiary: #0f1620;
  --background-accent: #00a9ce;
  --background-floating: #060b11;
  --userarea-background: var(--background-tertiary);
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --header-background: #212d3a;
  --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2),
    0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --channels-default: #969696;
  --channeltextarea-background: #3a4e5f;
  --channel-selected-background: #17222c;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --activity-card-background: #0f0f0f;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: rgb(75, 75, 75);
  --background-modifier-hover: rgba(50, 50, 50, 0.16);
  --background-modifier-active: rgba(50, 50, 50, 0.24);
  --background-modifier-selected: rgba(50, 50, 50, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --text-link: #00a9ce;
  --text-normal: #dcddde;
  --text-muted: #969696;
  --deprecated-panel-background: #292b2f;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
  --background-accent-1: rgb(15, 15, 15, 0.1);
  --background-accent-3: rgb(15, 15, 15, 0.3);
  --background-floating-2: rgba(0, 0, 0, 0.2);
  --modifier-button-selected: rgba(255, 255, 255, 0.2);
}

body{
  background-color: transparent;
}

#app-mount .titleBar-1it3bQ {
  background: var(--header-background);
}

.appMount-2yBXZl {
  background-color: var(--header-background);
  border-radius: 10px;
}

.panels-3wFtMD {
  background: linear-gradient(
    45deg,
    #6b90c8,
    #5b66af 25%,
    #7c67a3 50%,
    #e082be
  );
  /* position: fixed;
  left: 0px;
  bottom: 0px;
  width: 304px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px 0px 0px 8px; */
}

.sidebar-1tnWFu .wrapper-1_HaEi.guilds-2JjMmN{
  height: calc(100vh - 85px);
}

#app-mount .wordmark-2u86JB {
  color: var(--header-primary);
}

.button-12Fmur {
  color: var(--header-primary);
}

#app-mount .titleBar-1it3bQ {
  height: 26px;
  display: flex;
  justify-content: center;
}

.winButton-3UMjdg {
  position: absolute;
  top: 4px;
}

.winButton-3UMjdg:hover {
  background-color: var(--modifier-button-selected);
  border-radius: 50px;
}

.wordmarkWindows-2dq6rw {
  position: inherit;
  padding: 0px 9px 3px;
}

.wordmarkWindows-2dq6rw > svg {
  height: 23px;
  width: 96px;
}

.winButton-3UMjdg > svg {
  color: var(--header-primary);
}

.winButtonClose-3Q8ZH5.winButton-3UMjdg {
  right: 5px;
}

.winButton-3UMjdg:nth-of-type(3) {
  right: 35px;
}

.winButton-3UMjdg:nth-of-type(4) {
  right: 65px;
}

.codeView-12LUIl.hljs {
  background-color: var(--background-secondary-alt) !important;
}

.button-12Fmur.enabled-9OeuTA:hover {
  border-radius: 50px;
  background-color: var(--modifier-button-selected);
}

#app-mount .peopleColumn-1wMU14 {
  background-color: var(--background-primary);
}

#app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ,
.botTagRegular-kpctgU {
  background-color: var(--blurple-replace);
}

.theme-dark .wrapper-1ZcZW- {
  color: var(--blurple-replace-xlight);
  background: var(--blurple-replace-light);
}
.sendIcon-1HcEzu {
  color: var(--blurple-replace);
}

.containerDefault-YUSmu3.selected-2TbFuo > .wrapper-NhbLHG > .content-1gYQeQ {
  border-left: 4px solid black;
  border-image: linear-gradient(
      0deg,
      #6b90c8,
      #5b66af 25%,
      #7c67a3 50%,
      #e082be
    )
    1;
  border-radius: 5px;
  background-color: var(--channel-selected-background);
}

.containerDefault-YUSmu3 > .wrapper-NhbLHG > .content-1gYQeQ {
  border-left: 4px solid transparent;
}
